.poison {
    background-color: #a44a8b;
}

.bug {
    background-color: #6ad531;
}

.water {
    background-color: #8bc5cd;
}

.fire {
    background-color: #de523aff;
}

.grass {
    background-color: #62d5b4
    ;
}

.rock {
    background-color: #9c836aff;
}

.electric {
    background-color: #f5aa2aff;
}

.ground {
    background-color: #ccb400ff;
}

.fairy {
    background-color: #ffacac;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.normal {
    background-color: #cc825aff;
}

.ghost {
    background-color: #6e5896;
}

.dragon {
    background-color: #7383d5;
}

.steel {
    background-color: #7b94a4;
}

.dark {
    background-color: #2d3537;
}

.ice {
    background-color: #98d5d7;
}

.flying {
    background-color: #a98ff0;
}

